<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009672181325-fh8v35viulf908okggj9ilrmajlo0a1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009672181325-fh8v35viulf908okggj9ilrmajlo0a1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBC8pohBwRB-F-NhcGEidPuupNOL7KuluY</string>
	<key>GCM_SENDER_ID</key>
	<string>1009672181325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mr.y.SpaceMate-Login</string>
	<key>PROJECT_ID</key>
	<string>spacemate-login</string>
	<key>STORAGE_BUCKET</key>
	<string>spacemate-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009672181325:ios:8919d7969c557e72342e04</string>
	<key>DATABASE_URL</key>
	<string>https://spacemate-login.firebaseio.com</string>
</dict>
</plist>